In [5]:
import pandas as pd
import numpy as np
from sklearn import metrics
from sklearn.linear_model import LinearRegression

In [6]:
data = pd.read_csv('../data/Bitcoin/bitcoin_dataset.csv')
test = pd.read_csv('../data/Bitcoin/test_set.csv')

In [7]:
data.isnull().sum()

Date                                                    0
btc_market_price                                        0
btc_total_bitcoins                                     27
btc_market_cap                                          0
btc_trade_volume                                       21
btc_blocks_size                                        29
btc_avg_block_size                                      0
btc_n_orphaned_blocks                                   0
btc_n_transactions_per_block                            0
btc_median_confirmation_time                           12
btc_hash_rate                                           0
btc_difficulty                                         16
btc_miners_revenue                                      0
btc_transaction_fees                                   10
btc_cost_per_transaction_percent                        0
btc_cost_per_transaction                                0
btc_n_unique_addresses                                  0
btc_n_transactions                                      0
btc_n_transactions_total                                0
btc_n_transactions_excluding_popular                    0
btc_n_transactions_excluding_chains_longer_than_100     0
btc_output_volume                                       0
btc_estimated_transaction_volume                        0
btc_estimated_transaction_volume_usd                    0
dtype: int64

In [8]:
data_r = data.fillna(method='ffill') #replaced with forward filling

In [101]:
#data_d = data.dropna(how='any')

In [9]:
k = list(data_r.columns)

In [10]:
k.remove('Date')

In [11]:
k.remove('btc_market_price')

In [12]:
X = data_r[k] #replce with data_r or data_d

In [13]:
type(X)

pandas.core.frame.DataFrame

In [14]:
Y = data_r['btc_market_price']

In [15]:
type(Y)

pandas.core.series.Series

In [109]:
X.shape

(2906, 22)

In [110]:
train_X = X[:2892]
train_Y = Y[:2892]
test_X = X[-14:]
test_Y = Y[-14:]

In [111]:
print(train_X.shape)
print(train_Y.shape)
print(test_X.shape)
print(test_Y.shape)

(2892, 22)
(2892,)
(14, 22)
(14,)

In [112]:
linreg = LinearRegression()

In [113]:
linreg.fit(train_X,train_Y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [130]:
test_Y_pred = linreg.predict(test_X)
train_Y_pred = linreg.predict(train_X)

In [16]:
type(test_Y_pred)

NameError: name 'test_Y_pred' is not defined

In [132]:
train_Y_pred

array([ -1.30725736e+00,  -1.37669193e+00,  -1.38323660e+00, ...,
         1.40206723e+04,   1.11954981e+04,   1.11235562e+04])

In [133]:
linreg.score(train_X,train_Y)

0.99995213744749667

In [116]:
linreg.score(test_X,test_Y)

0.99613754116291664

In [138]:
print(np.sqrt(metrics.mean_squared_error(test_Y, test_Y_pred)))
print(np.sqrt(metrics.mean_squared_error(train_Y, train_Y_pred)))

41.7458799715
15.171424622

In [117]:

test.shape

(14, 23)

In [118]:
test_d = test[k]

In [119]:
test_d.shape

(14, 22)

In [120]:
train_X.shape

(2892, 22)

In [121]:
y_pred = linreg.predict(test_d)

In [122]:
y_pred

array([ 9076.04904698,  8907.1229322 ,  9095.27751289,  8431.25659154,
        6793.44374142,  7617.10134539,  8092.60915451,  8280.08034014,
        8575.02437776,  8323.71739543,  8384.86615205,  8811.5155159 ,
        8591.74884805,  9315.71134094])

In [123]:
test_Y_pred = pd.Series(test_Y_pred)
test_Y = test_Y.reset_index()
type(test_Y)

pandas.core.frame.DataFrame

In [124]:
test_Y.drop(['index'],axis=1,inplace=True)

In [125]:
dates = data_r['Date']
dates = dates[-14:]
dates = dates.reset_index()

In [126]:
dates.drop(['index'],inplace=True,axis=1)

In [127]:
dates

         Date
0   1/18/2018
1   1/19/2018
2   1/20/2018
3   1/21/2018
4   1/22/2018
5   1/23/2018
6   1/24/2018
7   1/25/2018
8   1/26/2018
9   1/27/2018
10  1/28/2018
11  1/29/2018
12  1/30/2018
13  1/31/2018

In [128]:
test_Y_pred

0     11357.480868
1     11468.200086
2     13038.256235
3     11551.046600
4     10554.021319
5     11234.909731
6     11324.520957
7     11231.838557
8     11030.935496
9     11584.268685
10    11795.327032
11    11235.330008
12    10147.356737
13    10133.842038
dtype: float64

In [129]:
comparision = pd.concat([test_Y_pred, test_Y.btc_market_price,dates.Date],axis = 1)
comparision.to_csv('vis.csv')