In [65]:
import pandas as pd
import numpy as np
from sklearn import metrics
from sklearn.linear_model import LinearRegression

In [66]:
data = pd.read_csv('../data/Bitcoin/bitcoin_dataset.csv')
test = pd.read_csv('../data/Bitcoin/test_set.csv')

In [67]:
data.isnull().sum()

Date                                                    0
btc_market_price                                        0
btc_total_bitcoins                                     27
btc_market_cap                                          0
btc_trade_volume                                       21
btc_blocks_size                                        29
btc_avg_block_size                                      0
btc_n_orphaned_blocks                                   0
btc_n_transactions_per_block                            0
btc_median_confirmation_time                           12
btc_hash_rate                                           0
btc_difficulty                                         16
btc_miners_revenue                                      0
btc_transaction_fees                                   10
btc_cost_per_transaction_percent                        0
btc_cost_per_transaction                                0
btc_n_unique_addresses                                  0
btc_n_transactions                                      0
btc_n_transactions_total                                0
btc_n_transactions_excluding_popular                    0
btc_n_transactions_excluding_chains_longer_than_100     0
btc_output_volume                                       0
btc_estimated_transaction_volume                        0
btc_estimated_transaction_volume_usd                    0
dtype: int64

In [68]:
data_r = data.fillna(method='ffill') #replaced with forward filling

In [69]:
#data_d = data.dropna(how='any')

In [70]:
k = list(data_r.columns)

In [71]:
k.remove('Date')

In [72]:
k.remove('btc_market_price')

In [73]:
X = data_r[k] #replce with data_r or data_d

In [74]:
type(X)

pandas.core.frame.DataFrame

In [75]:
Y = data_r['btc_market_price']

In [76]:
Y.shape

(2906,)

In [77]:
X.shape

(2906, 22)

In [78]:
train_X = X[:2892]
train_Y = Y[:2892]
test_X = X[-14:]
test_Y = Y[-14:]

In [79]:
print(train_X.shape)
print(train_Y.shape)
print(test_X.shape)
print(test_Y.shape)

(2892, 22)
(2892,)
(14, 22)
(14,)

In [80]:
linreg = LinearRegression()

In [81]:
linreg.fit(train_X,train_Y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [82]:
test_Y_pred = linreg.predict(test_X)

In [83]:
test_Y_pred

array([ 11357.48086783,  11468.20008593,  13038.25623508,  11551.04660046,
        10554.02131893,  11234.90973148,  11324.52095703,  11231.83855671,
        11030.9354956 ,  11584.26868473,  11795.3270319 ,  11235.33000829,
        10147.35673688,  10133.84203813])

In [84]:
linreg.score(test_X,test_Y)

0.99613754116291664

In [85]:

test.shape

(14, 23)

In [86]:
test_d = test[k]

In [87]:
test_d.shape

(14, 22)

In [88]:
train_X.shape

(2892, 22)

In [89]:
y_pred = linreg.predict(test_d)

In [90]:
y_pred

array([ 9076.04904698,  8907.1229322 ,  9095.27751289,  8431.25659154,
        6793.44374142,  7617.10134539,  8092.60915451,  8280.08034014,
        8575.02437776,  8323.71739543,  8384.86615205,  8811.5155159 ,
        8591.74884805,  9315.71134094])

In [91]:
test_Y_pred = pd.Series(test_Y_pred)
test_Y = test_Y.reset_index()
type(test_Y)

pandas.core.frame.DataFrame

In [92]:
test_Y.drop(['index'],axis=1,inplace=True)

In [93]:
dates = data_r['Date']
dates = dates[-14:]
dates = dates.reset_index()

In [94]:
dates.drop(['index'],inplace=True,axis=1)

In [95]:
dates

         Date
0   1/18/2018
1   1/19/2018
2   1/20/2018
3   1/21/2018
4   1/22/2018
5   1/23/2018
6   1/24/2018
7   1/25/2018
8   1/26/2018
9   1/27/2018
10  1/28/2018
11  1/29/2018
12  1/30/2018
13  1/31/2018

In [96]:
test_Y_pred

0     11357.480868
1     11468.200086
2     13038.256235
3     11551.046600
4     10554.021319
5     11234.909731
6     11324.520957
7     11231.838557
8     11030.935496
9     11584.268685
10    11795.327032
11    11235.330008
12    10147.356737
13    10133.842038
dtype: float64

In [98]:
comparision = pd.concat([test_Y_pred, test_Y.btc_market_price,dates.Date],axis = 1)
comparision.to_csv('vis.csv')